{% extends 'tes/base.html' %}
{% block content %}
    <form name = "form" method = "POST" >
        {% csrf_token %}
        <div style = "max-width:470px;">
            <label>nama</label><br>
            <input type = "text" style = "margin-left:20%;" 
            placeholder = "nama" name = "name" />
            <br>
            <label>NIK </label><br>
            <input type = "text" style = "margin-left:20%;" 
            placeholder = "NIK" name = "nik" />
            <br>
            <label>no peserta</label><br>
            <input type = "text" style = "margin-left:20%;" 
            placeholder = "no peserta" name = "no_peserta" id="no_peserta"/>
            <br>
            <label>jurusan yang dipilih</label><br>
            <input type = "text" style = "margin-left:20%;" 
            placeholder = "jurusan" name = "jurusan" />
            <br><br><br>
            <input type='submit' value='mulai' name='mulai' id='mulai'>
         </div>
    </form>
    <p>Dalam tes ini terdapat beberapa subtes yang harus saudara isi. Diantaranya:<br>
    1. Test Padanan Hubungan<br>        
    2. Sinonim<br>        
    3. Aritmatika<br>        
    4. Penalaran (silogisme)<br>
    waktu pengerjaan 20 menit. Lakukan secepat dan sebenar mungkin.</p>
{% endblock %}